*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  display: inline-block;
}
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
}
header{
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
                                       /* __________________SOCIAL CONTAINER___________________ */
.social_container{
  display: flex;
  justify-content: flex-end;
}
.social {
  width: auto;
  height: auto;
  position: fixed;
  margin-top: 220px;
  perspective: 1000px;
}

.social div a {
  display: block;
  height: 40px;
  width: 50px;
  background: #222;
  border-bottom: 1px solid #333;
  font: normal normal normal 16px/20px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  transition: background 0.5s ease 0.3ms;
}

.social div:first-child a:hover {
  background: #3b5998;
}
.social div:nth-child(2) a:hover {
  background: #FD1D1D;
}
.social div:nth-child(3) a:hover {
  background: #4c75a3;
}
.social div:nth-child(4) a:hover {
  background: #25d366;
}
.social div:first-child a {
border-radius: 5px 0 0 0px;
}
.social div:last-child a {
border-radius: 0 0 0 5px;
}

.social div a span {
  width: 90px;
  float: right;
  text-align: center;
  background: #222;
  color: #fff;
  margin: -25px 50px;
  padding: 8px;
  transform-origin: 100% 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;
  transition: all 0.5s ease 0.3ms;
}
.social div span:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  right: -19px;
  top: 7px;
  border: 10px solid transparent;
  border-left: 10px solid #222;
}


                                /*______________________ HEADER________________________ */

.header__btn-menu{
  display: block;
  font-size: 28px;
}
.header__top{
  background-color: #303030;
}
.header__btn{
  float: right;
  line-height: 36px;
  color: #1b1b1b;
  background-color: #ffc222;
  padding: 5px 20px 4px 50px;
  font-size: 16px;
  display: block;
  position: relative;
}
.header__btn:before{
  content: "\f0b1";
  font-family: 'icomoon';
  position: absolute;
  left: 22px;
  color: #1b1b1b;
}
.header__contacts{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
/* Обратная связь */
.header__contacts a.button{
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
color: #fff;
width:120px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
padding: 8px 8px;
margin: 8px 0px;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: background-color 0.1s linear;
-moz-transition: background-color 0.1s linear;
-o-transition: background-color 0.1s linear;
transition: background-color 0.1s linear;
}
.header__contacts a.button {
background-color: #ffc222;
border: 1px solid rgb( 33, 126, 74 );
}
.header__contacts a.button:hover {
background-color: #ffc222;
}
.header__phone,
.header__email{
  color: #cbcacb;
  letter-spacing: 0.25px;
  line-height: 45px;
  position: relative;
}
.header__phone{
  padding-left: 20px;
  padding-right: 30px;
}
.header__phone:before{
  content: "\f095";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}
.header__email{
  padding-left: 24px;
}
.header__email:before{
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}
.header__content{
  padding: 0px;
}
.header__content-inner{
  display: flex;
  justify-content: space-between;
}

.menu ul{
  padding-top: 5%;
}
.menu li{
  display: inline-block;
}
.menu a{
  border-radius: 5px;
  color: #323232;
  font-size: 18px;
  line-height: 36px;
  border: 1px solid transparent;
  padding: 0px 16px;
  transition: all .3s;
}
.menu a:hover{
  border-color: #ffc222;
}
.menu li + li{
  padding-left: 10px;
}

                                  /* ________________MAIN SLIDERS____________________ */
.slider{
  background-image: url(../img/latest-product-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
.slider__item_1{
  background-image: url(../img/slide-1.png);
}
.slider__item_2{
  background-image: url(../img/slide-2.png);
}
.slider__item_3{
  background-image: url(../img/slide-3.png);
}
.slider__item-content_1,
.slider__item-content_2,
.slider__item-content_3{
  text-align: center;
  padding-top: 10%;
  max-width: 665px;
  height: 486px;
  margin: 0 auto;
}
.slider__title_1,
.slider__title_2,
.slider__title_3{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 22px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.slider__text_1{
  line-height: 24px;
  font-size: 18px;
  padding-top: 10%;
  /* padding-top: 45px; */
  color: white;
}
.slider__text_2{
  line-height: 24px;
  font-size: 18px;
  padding-top: 15%;
  /* padding-top: 93px; */
  color: white;
}
.slider__text_3{
  line-height: 24px;
  font-size: 18px;
  padding-top: 10%;
  /* padding-top: 60px; */
  color: white;
}

.slider__inner{
  position: relative;
}
.slick-btn{
  position: absolute;
  top: 50%;
  z-index: 3;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
}
.slick-btn.slick-disabled{
  cursor: default;
  background-color: transparent;
}
.slick-btn:before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'icomoon';
  color: #fff;
}
.slick-next:before{
  content: "\f105";
}
.slick-prev:before{
  content: "\f104";
}
.slick-next{
  right: 0;
}
.slick-prev{
  left: 0;
}

                                  /* ___________________SERVICES______________________ */
.services{
  padding: 50px 0px 30px;
}
.services__top,
.news__top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.services__title-box,
.form__title-box,
.news__title-box{
  max-width: 600px;
  padding-left: 140px;
  position: relative;
}
.services__title-box:before,
.form__title-box:before,
.news__title-box:before{
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #ffc222;
  left: 0;
  top: 11px;
}
.services__title,
.form__title,
.news__title{
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: #212020;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}
.services__text,
.form__text,
.news__text{
  letter-spacing: 0.1px;
}
.services__btn a,
.news__btn a{
  color: #373636;
  line-height: 24px;
  letter-spacing: 0.25px;
  padding: 5px 38px;
  border: 3px solid #e6e6e6;
  border-radius: 5px;
}
.services__btn a:hover,
.news__btn a:hover{
  border: 2px solid #ffc222;
  border-radius: 5px;
}
.services__items{
  display: flex;
  justify-content: space-between;
}
.services__item{
  max-width: 250px;
  text-align: center;
  padding: 30px 0px 80px;
  position: relative;
  min-height: 325px;
  background-color: #f9f9f9;
  box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.services__item-title{
  color: #212020;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding: 24px 0;
}
.services__item-text{
  letter-spacing: 0.1px;
  padding: 30px;
  font-weight: 600;
}
.services__item-btn{
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}
.services__item-link,
.default-btn{
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  color: black;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  padding: 4px 10px;
  border: 1px solid #ffc222;
  border-radius: 18px;
  position: relative;
  z-index: 2;
  outline: none;
}
.default-btn:after{
  content: "\f105";
  font-family: 'icomoon';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
}
                                  /* ______________________ABOUT________________________ */
.about{
  background-image: url(../img/about-fon.png);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  background-repeat: no-repeat;
  padding: 25px 0px 45px;
}
.about__inner{
  max-width: 1050px;
}
.about__title{
  padding: 10px 0px 25px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.about__text{
  margin-bottom: 30px;
  letter-spacing: 0.1px;
  font-weight: 510;
  line-height: 24px;
  color: #d3d2d2;
}
.default-btn{
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  color: white;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding: 8px 30px 8px 24px;
  border: 1px solid #ffc222;
  border-right-width: 20px;
  position: relative;
  z-index: 2;
  outline: none;
}
.about_sites{
  display: flex;
  justify-content: space-between;
}
.about_more{
  margin-right: 10%;
}
.about_logs a{
  margin-right: 10px;
}
.about_logs a img{
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -o-transition: all 1s ease; /* IE 9 */
  transition: all 1s ease;
  border-radius: 6px;
}
.about_logs a:hover img{
  -webkit-transform:scale(1.05); Safari and Chrome
  -moz-transform:scale(1.05); Firefox
  -ms-transform:scale(1.05); IE 9
  transform:scale(1.25);
}
.flexble-image{
  max-width: 95%;
}
                                /* ________________________NEWS__________________________ */
.news{
  padding: 55px 0px 110px;
  background-color: #f9f9f9;
}
.news__inner{
  display: flex;
  justify-content: space-between;
}
.news__slider{
  max-width: 555px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
  padding: 60px 35px 10px 70px;
  position: relative;
}
.news__slider:before{
  content: "\f10e";
  font-family: 'icomoon';
  position: absolute;
  top: 0;
  left: 70px;
  color: #fff;
  font-size: 16px;
  width: 65px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #ffc222;
}
.news__blog{
  max-width: 260px;
  width: 100%;
}
.news__images{
  text-align: center;
  position: relative;
}
.news__date{
  position: absolute;
  background-color: #ffc222;
  height: 20px;
  width: 70px;
  color: #fff;
  text-align: center;
  padding-top: 0;
  font-weight: 700;
  top: 0px;
  left: 10%;
}
.news__blog-title{
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  color: #242424;
  padding: 12px 0;
}
.news__blog-text{
  letter-spacing: 0.1px;
  color: #5e5e5e;
}
.news__slider-title{
  font-size: 18px;
  line-height: 24px;
  color: #242424;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.news__slider-text{
  margin-bottom: 30px;
}
.news__slider-author{
  margin-bottom: 5%;
  letter-spacing: 0.1px;
  color: #212020;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.news__slider-inner .slick-btn{
  top: auto;
  bottom: -30px;
}
.news__slider-inner .slick-btn:before{
  color: #ffc222;
}
.news__slider-inner .slick-next{
  right: -35px;
}
.news__slider-inner .slick-prev{
  right: 30px;
  left: auto;
}
.news__slider-inner .slick-disabled{
  border-color: #dadada;
}
.news__slider-inner .slick-disabled:before{
   color: #dadada;
}

                          /* ___________________________FOOTER_________________________ */
.footer__content{
  background-color: #595959;
  padding: 20px 0px 30px;
}
.footer__inner{
  display: flex;
  justify-content: space-between;
}
.footer__inner .header__btn{
  float: none;
  display: inline-block;
}
.footer__map{
  padding-top: 10px;
  max-width: 630px;
  width: 100%;
}
.footer__map iframe{
  width: 100%;
}
.footer__title{
  text-align: center;
  font-family: "TimesNewRomanPS";
  font-weight: 500;
  color: #fff;
  line-height: 36px;
  letter-spacing: 0.5px;
}
.footer__title div:nth-child(1){
  font-size: 26px;
  text-shadow: 1px 1px 2px #000000;
  font-weight: 200;
  letter-spacing: 3px;
}
.footer__title div:nth-child(2){
  font-size: 18px;
    text-shadow: 1px 1px 2px #000000;
    line-height: 6px;
    font-weight: 200;
    letter-spacing: 3px;

}

.footer__text{
  color: #d3d2d2;
  margin-bottom: 20px;
}
.footer__info{
  max-width: 360px;
}
.footer__list{
  padding-top: 10px;
}
.footer__list li{
  margin-top: 10px;
}
.footer__list a{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #fff;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  padding-left: 33px;
  position: relative;
}
.footer__list a:before{
  content: '\f003';
  position: absolute;
  left: 0;
  color: #ffc222;
  font-family: 'icomoon';
}
.footer__list .footer__phone:before{
  content: "\f095";
  left: 3px;
}
.footer__list .footer__adress:before{
  content: "\f041";
  left: 3px;
}
.footer__copy{
  background-color: #303030;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  padding: 8px 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
/* Изменить цвет */
.services__item img{
      color: #ffc222
}
.mob_container{
  padding-top: 20px;
}
.mob_apps{
  display: flex;
  justify-content:flex-start;
}
.mob_apps div{
  margin-right: 10px;
}
.mob_text{
  color: white;
  font-size: 16px;
  margin-bottom: 5px;
}
.header__btn-menu{
  display: none;
  font-size: 28px;
  margin-top: 20px;
}
@font-face {
    font-family:TimesNewRomanPS; /* Имя шрифта */
    src: url(fonts/TimesNewRomanPS.otf); /* Путь к файлу со шрифтом */
   }
