* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #fff;
}
.container_form {
	max-width: 500px;
	margin: 50px auto;
	padding: 20px;
	border-radius: 4px;
	background-color: #ebebeb;
	box-shadow: 0 0 3px #666;
}

h2, .field-block {
	margin-bottom: 20px;
}

.field-block label, .field-block .field {
	display: block;
	width: 100%;
}

.field-block label {
	margin-bottom: 8px;
	font-weight: bold;
}

.field-block .field {
	font-size: 16px;
	padding: 8px 12px;
	line-height: 1.5;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.field-block .field:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.field-block textarea {
	resize: vertical;
}

.check-text {
	font-size: 14px;
	vertical-align: top;
}

.submit {
	cursor: pointer;
	font-size: 16px;
	padding: 6px 12px;
	margin-bottom: 5px;
}

#loader {
	display: none;
}
